<header class="header">
  <a class="&__logo-link" href="{{ params.logo.url }}">
    {{ picture(params.logo) }}
  </a>

  <h1 class="&__heading">
    <span class="visually-hidden">{{ params.heading }}</span>
  </h1>
</header>
