.form-group {
  margin: 0 0 48px;
  padding: 0;
  border: none;

  &--nearest {
    margin-bottom: 2px;
  }

  &--ranger {
    margin-bottom: 30px;
  }

  &--message {
    margin-bottom: 40px;
  }

  &--radio {
    margin-bottom: 75px;
  }
}

.form-group__title {
  padding: 0 0 3px;
  font-weight: 700;
  font-size: 24px;
  color: $color-brand;
}

.form-group__description {
  margin: 0 0 22px;
  color: $color-text;
}

.form-group__checkers {
  &--radio {
    display: flex;
    flex-wrap: wrap;
    margin-top: -12px;
  }

  &--checkbox {
    width: 768px;
    column-count: 3;
    column-gap: 0;
  }
}
