.field {
  box-sizing: border-box;
  padding: 0 20px 10px;
  font-size: 30px;
  line-height: 36px;
  font-family: "Courier New", monospace;
  color: $color-field;
  -webkit-text-fill-color: currentColor;
  background-color: transparent;
  background-image: url("line.png");
  background-position: -13px 16px;
  border: none;
  appearance: textfield;

  &:-webkit-autofill {
    box-shadow: none;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }

  &::-ms-clear,
  &::-ms-reveal,
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }

  &--name {
    padding-left: 19px;
    background-position: -13px 15px;
  }

  &--birthdate {
    padding-left: 16px;
    background-position: -25px 16px;
  }

  &--location {
    padding-left: 12px;
    background-position: -68px 14px;
  }
}
