.field {
  margin-right: 6px;
  padding: 0 20px 10px;
  font-size: 30px;
  line-height: 36px;
  font-family: "Courier New", monospace;
  color: $color-field;
  background-color: transparent;
  background-image: url("line.png");
  background-position: -13px 16px;
  border: none;

  &--name {
    margin-right: 0;
    padding: 0 19px 9px;
    background-position: -13px 15px;
  }

  &--location {
    padding: 0 17px 9px;
    background-position: -12px 14px;
  }
}
