.field-group {
  display: flex;
  align-items: flex-start;
  margin: 0 0 4px;
}

.field-group__label {
  max-width: 40%;
  margin: 6px 12px 3px 0;
  font-weight: 700;
  font-size: 22.43px;
  line-height: 49.83px;
  color: $color-brand;

  &--name {
    margin-bottom: 0;
  }

  &--birthdate {
    margin-right: 9px;
  }
}

.field-group__field {
  flex-grow: 1;
}
