<fieldset class="form-group {{ params.mix }}">
  <legend class="&__title {{ params.headingMix }}">
    {{ params.heading }}
  </legend>

  {% if params.description %}
    <p class="&__description">{{ params.description }}</p>
  {% endif %}

  {% if params.checkers %}
    <div class="&__checkers &__checkers--{{ params.checkers[0].params.type }}">
      {{ includes(params.checkers) }}
    </div>
  {% elif params.ranger %}
    {{ include(params.ranger) }}
  {% else %}
    {{ includes(params.fields) }}
  {% endif %}
</fieldset>
